[loggers]
keys=root,pyweb

[handlers]
keys=fileHandler

[formatters]
keys=pywebFormatter

[logger_root]
level=INFO
handlers=fileHandler

[logger_pyweb]
level=INFO
handlers=fileHandler
qualname=pyweb
propagate=0

[handler_fileHandler]
class=logging.handlers.WatchedFileHandler
level=INFO
formatter=pywebFormatter
args=('logs/pyweblog.log',)

[formatter_pywebFormatter]
format=%(asctime)s %(name)s %(filename)s:%(funcName)s:%(process)d %(levelname)s - %(message)s
datefmt=%Y-%m-%d %H:%M:%S